<!DOCTYPE html>
<html lang="en-US">
    <head>
        {% include "partials/head.html" %}
    </head>
    <body id="page-top">

        {% include "partials/nav.html" %}

        {% include "partials/hero.html" %}
        {% include "partials/about.html" %}
        {% include "partials/portfolio.html" %}
        {% include "partials/skills.html" %}
        {% include "partials/aside.html" %}
        {% include "partials/more.html" %}

        {% include "partials/modals.html" %}
        {% include "partials/js.html" %}
        {% include "partials/analytics.html" %}
    </body>
</html>
