<!-- ABOUT -->
<div class="container">
    <div class="row">
        <div class="about-wrapper col-lg-8 col-lg-offset-2 text-center">
            <div id="about" class="h-card">
                <a href="{{ SITEURL }}" class="u-url">
                    <img class="u-photo avatar" src="/images/me.jpg">
                </a>
                <h1 class="p-name title">{{ SITENAME }}</h1>
                <p class="p-note content">{{ DESCRIPTION }}</p>

                <div>
                    {% for name, link in SOCIAL %}
                    {% if name == 'fa fa-envelope' %}
                    <a class="icon" href="{{ link }}">
                    {% else %}
                    <a class="icon" href="{{ link }}" rel="me">
                    {% endif %}
                        <i class="{{ name }} fa-2x"></i>
                    </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
