<!-- CONTACT -->
<section id="contact">
    <div class="container text-center">
        <h2 class="section-heading">{{ CONTACT.header }}</h2>
        <hr class="primary">
        <p class="text-muted extra-bottom">{{ CONTACT.description }}</p>
        <div>
            {% for article in articles|selectattr('category', 'equalto', 'contact') %}
                <div class="contact-item">
                    {% if article.link %}<a href="{{ article.link }}">{% endif %}
                        <i class="fa {{ article.icon }} fa-3x wow bounceIn" data-wow-delay=".{{ loop.index }}s"></i>
                        {{ article.content }}
                    {% if article.link %}</a>{% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
</section>
