<!-- Portfolio item -->
<!-- Header -->
<section class="bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">{{ article.title }}</h2>
                <hr class="light">
                <div class="face-img" style="background-image: url(images/portfolio/{{ article.img }});"></div>
            </div>
        </div>
    </div>
</section>
<!-- Content -->
<section>
    <div class="container">
        {{ article.content  }}
    </div>
</section>
<!-- Footer -->
<section class="bg-dark">
    {% if article.links %}
        <div class="container">
            <div class="row text-center">
                <h2 class="text-primary">even more...</h2>
                <hr class="primary">
                {% for link in article.links.strip().split('\n') %}
                    {% set text, href, icon = link.strip().split(';') %}
                    <div class="col-lg-2 col-sm-4 col-xs-12">
                        <a href="{{ href }}">
                            <i class="fa {{ icon }} fa-3x wow bounceIn" data-wow-delay=".{{ loop.index }}s"></i>
                            <p>{{ text }}</p>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
</section>
