<!-- Portfolio item -->
<div class="container">
    <h2 class="text-center">{{ article.title }}</h2>
    <hr class="star-primary">
    <img src="images/portfolio/{{ article.img }}" class="img-responsive img-centered" alt="">
    {{ article.content  }}
    <ul class="list-inline item-details">
        <li>Client:
            <strong><a href="{{ article.clientLink }}">{{ article.client }}</a>
                </strong>
        </li>
        <li>Date:
            <strong><a href="#">{{ article.date.isoformat() }}</a>
                </strong>
        </li>
        <li>Category:
            <strong><a href="#">{{ article.category }}</a>
                </strong>
        </li>
    </ul>
</div>
