<!-- Portfolio item -->
<section class="bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">{{ article.title }}</h2>
                <hr class="light">
                <div class="face-img" style="background-image: url(images/portfolio/{{ article.img }});"></div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        {{ article.content  }}
        <ul class="list-inline item-details">
            <li>Client:
                <strong><a href="{{ article.clientLink }}">{{ article.client }}</a>
                    </strong>
            </li>
            <li>Date:
                <strong><a href="#">{{ article.date.isoformat() }}</a>
                    </strong>
            </li>
            <li>Category:
                <strong><a href="#">{{ article.category }}</a>
                    </strong>
            </li>
        </ul>
    </div>
</section>
